*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
h1{
    text-align: center; 
    margin: 10px;
    background-image: radial-gradient(circle, #7449be, #ae14af);
    color: #fff;
    top: 0;
    z-index: 1;
    position: sticky;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    flex-wrap: wrap;
    max-width: 1000px;
}
.container img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    max-width: 100%;
    margin: 10px;
}